.itemCardWrapper {
    // width: 100%;
  margin: 65px 140px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.textWrapper {
    margin: 7%;
}

.card {
    width: 338px;
    height: auto;
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 60px;

    img {
        height: 240px;
        width: 100%;
        object-fit: cover;
    }
    
    .gender {
        color: #979797;
        padding: 0;
        font-size: 12px;
    }

    .name {
        font-size: 18px;
        margin-bottom: 18px;
    }

    .price {
        font-size: 36px;
        margin-bottom: 24px;
    }

    .size {
        font-size: 18px;
    }

    .addToBag {
        font-size: 18px;
    }
}
