.headerWrapper {
    height: 84px;
    background: white;
    text-align: center;

    display: grid;
    grid-template-columns: 120px repeat(2, 150px) 1fr 150px 120px;
    grid-template-areas:
        "logo type gender ... search bag"
}

.logo {
    grid-area: logo;
    height: 100%;
    width: auto;
}

.type {
    grid-area: type;
    text-align: left;
    padding: 11px 0;


    p::before {
        content: "TYPE";
        display: block;
        font-size: .7rem;
        text-align: left;
        color: gray;
    }
}

.gender {
    grid-area: gender;
    text-align: left;
    padding: 11px 0;


    p::before {
        content: "GENDER";
        display: block;
        font-size: .7rem;
        text-align: left;
        color: gray;
    }
}

.search {
    grid-area: search;
    margin: auto;
}

.bag {
    grid-area: bag;
    
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;

    background-color: rgba(0, 0, 0, 0.8);
    color: white;

    p {
        display: inline;

    }
}